<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{{ comic }}</title>
  </head>
  <body>
    <div>
    <p>Comic Name: {{ comic }}</p>
    <p>Publication Date: {{ comic.pub_date }}</p>
    <p>Read: {{ comic.read }}</p>
    <p>Rating: {{ comic.rating }}</p>
    </div>
    
    <form action="{% url 'log:detail' comic.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Log</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <input type="checkbox" name="read" id="read-id" value="{{ read.id }}">
        <label for="read-id">Read?</label><br>
        {{comic.ref.ratingOptions}}
        <label for="rating">Rating</label>
        <select name="rating" id="rating-id">
            
        {% for choice, value in comic.ratingOptions.items %}
        <option value="choice{{ forloop.counter }}" id="choice{{ forloop.counter }}">{{ value }}</option>
        {% endfor %}
        </select>
        
    </fieldset>
    <input type="submit" value="Update">
    </form> 
  </body>
</html>

